body {
    background-color: #e4f2f0;
}

h1:hover {
    color: #99d8d0
}
h3 {
    color: #99d8d0;
}


hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}

.fun {
    color: rgb(27, 132, 163);

}